/* .app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 120px;
  
}
.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color:cadetblue;
  color: white;
}
.button.warn {
  border: 3px solid red;
}
.AppTask3{
  font-family: sans-serif;
  text-align: center;
}

.app3 {
  display: flex;
  flex-wrap: wrap;
} */
